<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DatosArtistaServlet</servlet-name>
        <servlet-class>servlets.InfoArtista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreacionArtistaServlet</servlet-name>
        <servlet-class>servlets.NuevoArtista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BusquedaArtistaServlet</servlet-name>
        <servlet-class>servlets.BusquedaArtista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorradoArtistaServlet</servlet-name>
        <servlet-class>servlets.BorrarArtista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AceptarEliminacionServlet</servlet-name>
        <servlet-class>servlets.ConfirmarEliminacionArtista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarArtistasJSP</servlet-name>
        <jsp-file>listartist.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>VerArtistaJSP</servlet-name>
        <jsp-file>infoartist.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>CreacionArtistaJSP</servlet-name>
        <jsp-file>newartist.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>BuscarArtistaJSP</servlet-name>
        <jsp-file>searchartist.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>BorradoArtistaJSP</servlet-name>
        <jsp-file>deleteartist.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreacionArtistaServlet</servlet-name>
        <url-pattern>/crearArtista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BusquedaArtistaServlet</servlet-name>
        <url-pattern>/buscarArtista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorradoArtistaServlet</servlet-name>
        <url-pattern>/borrarArtista*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AceptarEliminacionServlet</servlet-name>
        <url-pattern>/confirmarBorrado*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarArtistasJSP</servlet-name>
        <url-pattern>/lista_artistas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreacionArtistaJSP</servlet-name>
        <url-pattern>/nuevo_artista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarArtistaJSP</servlet-name>
        <url-pattern>/buscar_artista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorradoArtistaJSP</servlet-name>
        <url-pattern>/borrar_artista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerArtistaJSP</servlet-name>
        <url-pattern>/datos_artista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DatosArtistaServlet</servlet-name>
        <url-pattern>/verArtista*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <absolute-ordering/>
</web-app>
